/* App.css */

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  background-color: black;
  color: white;
  padding: 20px; /* Increase padding for better spacing */
}

.logo-container {
  display: flex; /* Add flex display to center logo horizontally */
  align-items: center; /* Center logo vertically */
}

.navbar-logo {
  height: 40px; /* Increase logo height */
  width: auto; /* Ensure the width adjusts proportionally */
  margin-right: 10px; /* Add margin for better spacing */
}

.team-info {
  text-align: left;
}

.team-name {
  font-size: 20px;
  font-weight: bold;
}

.team-member {
  font-size: 16px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  max-height: 272.625px;
}

.expanded {
  max-height: none;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: #008000;
}

.red {
  background-color: #ff0000;
}

.refresh-button {
  background-color: #4caf50; /* Green background color */
  color: white;
  border: none;
  padding: 10px 20px; /* Add padding for better button size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s; /* Add transition for animation effect */

}

.refresh-button:hover {
  transform: scale(1.1); /* Enlarge on hover */
}

.graph-button {
  background-color: #1da0d3; /* Green background color */
  color: white;
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s; /* Add transition for animation effect */
}

.graph-button:hover {
  transform: scale(1.1); /* Enlarge on hover */
}

.expanded {
  max-height: none; /* Remove the maximum height for the expanded card */
}